* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 500px;
  margin: 2em auto;
  padding: 0 0.5em;
  font-size: 20px;
}

body, input, button {
  font-family: "Lato";
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

#custom-notification {
  margin-top: 1em;
}

label {
  display: block;
}

input[name="title"], textarea, #log {
  width: 100%;
  padding: 1em .5em;
  margin: 1em 0;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(255, 255, 255, 0.1);
}

input[name="title"] {
  height: 2em;
}

textarea {
  height: 5em;
}

.buttons-wrapper {
  text-align: center;
}

.btn {
  padding: 0.5em;
  margin: 1em;
}

button#clear-log {
    margin-left: 0;
}

#log {
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.author {
  display: block;
  margin-top: 1em;
}
